
@mixin flex-row-center() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-col-start() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


@mixin respond-to($name) {
    @if map-has-key($breakpoints,
    $name) {
        @media only all and #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.";
    }
}