//https://m2.material.io/resources/color/#!/?view.left=0&view.right=1&primary.color=64d867
$breakpoints: (
  'mobile-extra-small': (
    min-width: 21.25rem,
  ),
  // 340
  'mobile-portrait-only':
    (
      max-width: 29.9375rem,
    ),
  // 479
  'mobile-landscape':
    (
      max-width: 51rem,
    ),
  // 816
  'tablet-portrait':
    (
      min-width: 48rem,
    ),
  // 768
  'desktop-template':
    (
      min-width: 48.0625rem,
    ),
  // 769
  'tablet-portrait-only':
    (
      max-width: 48rem,
    ),
  // 768
  'tablet-big':
    (
      min-width: 60.625rem,
    ),
  // 970
  'mobile':
    (
      max-width: 1023px,
    ),
  // 1024
  'desktop':
    (
      min-width: 64rem,
    ),
  // 1024
  'desktop-medium':
    (
      min-width: 75rem,
    ),
  // 1200
  'desktop-large':
    (
      min-width: 90rem,
    ),
  // 1440
  'desktop-extra-large':
    (
      min-width: 120rem,
    )
    // 1920,,,,,,,,,,,
);

$navbar-height: 48px;
$navbar-desktop-max-width: 998px;
$navbar-mobile-min-width: 375px;

$padding-default: 20px;
$margin-default: 20px;

$color-gray-light: #f6f6f6;
$color-green-light: #99ff97;
$color-green-primary: #bff4c8;
$color-green-dark: #28a639;

$font-nanum-light: 'NanumSquareNeoLight';
$font-nanum-medium: 'NanumSquareNeo';
$font-nanum-bold: 'NanumSquareNeoBold';
$font-nanum-extrabold: 'NanumSquareNeoExtraBold';
$font-nanum-heavy: 'NanumSquareNeoHeavy';

$font-size-small: 14px;
$font-size-medium: 24px;
$font-size-large: 32px;

$symbol-size-adder: 3px;
